<mat-toolbar class="mat-elevation-z6" fxLayout="row">
       <span><mat-icon>eco</mat-icon>myMovies</span>
       
       <div class="spacer"></div>
       <div fxShow="true" fxHide.lt-md="true">
          <a mat-button routerLink="/movies">Movies</a>
          <a mat-button routerLink="/directors">All Directors</a>
          <a mat-button routerLink="/Actors">All Actors</a>
          <a mat-button routerLink="/genres">All Genres</a>
          <a mat-button routerLink="/profile">Profile</a>
          <a mat-button routerLink="/favorites">My List</a>
          <a mat-raised-button color="warn" routerLink="/welcome">Logout</a>
        </div>
      </mat-toolbar>

     