<app-navigation-bar></app-navigation-bar>
    <div class="movie-card" style="display:flex">
        <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;" class="card">
       <mat-card-header>
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>Directed by: {{movie.director}}</mat-card-subtitle>
            </mat-card-header>
            <img src={{movie.image}} width="300px" alt= {{movie.title}} />     
            <mat-card-actions>
                <!--
                <button
              
              mat-button
              (click)="showGenres(movie.genre.name,movie.genre.description)"
              color="primary"
              >
              Genre
            </button>
        -->  
        <button
            mat-button routerLink="/genres"
            color="primary"
            >
            Genre
        </button>
            <button
            mat-button
            (click)="showDirector(movie.director)"
            color="primary"
            >
            Director
        </button>
        <button
        mat-button
        (click)="showDescription(movie.title, movie.description)"
        color="primary"
        >
        Synopsis
    </button>
    <button
            class="favorite-button"
            mat-icon-button
            (click)="addToFavorites(movie._id, movie.title)"
            color="warn"
            aria-label="Add movie to favorites button"
          >
    <mat-icon>favorite_border</mat-icon>
    </button>
</mat-card-actions>
</mat-card>
</div>
